<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('nanny.show', {slug: nanny.slug, id: nanny.id}) }}">
                {{ nanny.title }}
            </a>
        </h5>
        <p class="card-text">{{ nanny.experience }} an(s) - {{ nanny.city }} ({{ nanny.postalCode }})</p>
        <div class="text-primary" style="font-size:2rem; font-weight: bold;">
            {{ nanny.formattedPrice }} €
        </div>
    </div>
</div>
