<div class="card mb-4">
    {% if nanny.filename %}
        <img src="{{ vich_uploader_asset(nanny, 'imageFile') | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height:auto;">
    {% else %}
        <img src="{{ '/images/nannies/empty.jpg' | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height:auto;">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('nanny.show', {slug: nanny.slug, id: nanny.id}) }}">
                {{ nanny.title }}
            </a>
        </h5>
        <p class="card-text">{{ nanny.experience }} an(s) - {{ nanny.cityType }} ({{ nanny.postalCode }})</p>
        <div class="text">
            {{ nanny.formattedPrice }} €
        </div>
    </div>
</div>
