{% extends 'base.html.twig' %}

{% block title 'Toutes les nourrices' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            {{ form_start(form) }}
            <div class="form-row align-items-end">
                <div class="col">
                    {{ form_row(form.minExperience) }}
                </div>
                <div class="col">
                    {{ form_row(form.maxPrice) }}
                </div>
                <div class="col">
                    {{ form_row(form.options) }}
                </div>
                <div class="col">
                    <div class="form-group">
                        <button id="search-nanny" class="btn btn-primary">Rechercher</button>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="container mt-4">
        <h1>Voir toutes les nourrices</h1>

        <div class="row">
            {% for nanny in nannies %}
            <div class="col-md-4">
                {% include 'nanny/_nanny.html.twig' %}
            </div>
            {% endfor %}
        </div>

        <div id="pagination-nanny" class="pagination">
                {{ knp_pagination_render(nannies) }}
        </div>
    </div>
{% endblock %}
